@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html{
  margin: 0;
  padding: 0;
  background: rgb(0, 0, 26);
}
body {
  margin: 0;
  padding: 0;

   @apply bg-white dark:bg-gray-950;
  display: flex;
  justify-content: center;
  @media (prefers-color-scheme: dark) {
    color-scheme: dark
  ;
  }
}

.bg-blue-1000{
  background: rgb(1, 1, 30);
}

@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #00010a;
  overflow: hidden;
}

.background span {
  width: 1vmin;
  height: 1vmin;
  border-radius: 1vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 46;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.background span:nth-child(0) {
  color: #5a6272;
  top: 18%;
  left: 49%;
  animation-duration: 38s;
  animation-delay: -15s;
  transform-origin: 25vw -24vh;
  box-shadow: -2vmin 0 0.9037604753518592vmin currentColor;
}
.background span:nth-child(1) {
  color: #f2ebff;
  top: 82%;
  left: 74%;
  animation-duration: 39s;
  animation-delay: -28s;
  transform-origin: 12vw 22vh;
  box-shadow: 2vmin 0 0.5090788679855011vmin currentColor;
}
.background span:nth-child(2) {
  color: #567799;
  top: 2%;
  left: 51%;
  animation-duration: 19s;
  animation-delay: -38s;
  transform-origin: 20vw -4vh;
  box-shadow: -2vmin 0 0.36474508875360134vmin currentColor;
}
.background span:nth-child(3) {
  color: #5a6272;
  top: 16%;
  left: 10%;
  animation-duration: 24s;
  animation-delay: -30s;
  transform-origin: 18vw -12vh;
  box-shadow: -2vmin 0 0.8116443642572597vmin currentColor;
}
.background span:nth-child(4) {
  color: #f2ebff;
  top: 97%;
  left: 23%;
  animation-duration: 33s;
  animation-delay: -9s;
  transform-origin: 15vw 14vh;
  box-shadow: 2vmin 0 0.8735259310653349vmin currentColor;
}
.background span:nth-child(5) {
  color: #f2ebff;
  top: 85%;
  left: 15%;
  animation-duration: 30s;
  animation-delay: -37s;
  transform-origin: -20vw 11vh;
  box-shadow: -2vmin 0 0.4761813372370809vmin currentColor;
}
.background span:nth-child(6) {
  color: #5a6272;
  top: 39%;
  left: 100%;
  animation-duration: 32s;
  animation-delay: -9s;
  transform-origin: -13vw 9vh;
  box-shadow: -2vmin 0 1.0321896489033033vmin currentColor;
}
.background span:nth-child(7) {
  color: #5a6272;
  top: 67%;
  left: 37%;
  animation-duration: 10s;
  animation-delay: -33s;
  transform-origin: -16vw 25vh;
  box-shadow: -2vmin 0 0.7717208059065709vmin currentColor;
}
.background span:nth-child(8) {
  color: #5a6272;
  top: 75%;
  left: 23%;
  animation-duration: 44s;
  animation-delay: -19s;
  transform-origin: -21vw 22vh;
  box-shadow: -2vmin 0 0.9430356384428693vmin currentColor;
}
.background span:nth-child(9) {
  color: #567799;
  top: 98%;
  left: 99%;
  animation-duration: 10s;
  animation-delay: -3s;
  transform-origin: -18vw -3vh;
  box-shadow: -2vmin 0 1.1042036614924728vmin currentColor;
}
.background span:nth-child(10) {
  color: #567799;
  top: 42%;
  left: 39%;
  animation-duration: 7s;
  animation-delay: -5s;
  transform-origin: -11vw 21vh;
  box-shadow: 2vmin 0 0.5403472051954356vmin currentColor;
}
.background span:nth-child(11) {
  color: #5a6272;
  top: 83%;
  left: 25%;
  animation-duration: 42s;
  animation-delay: -7s;
  transform-origin: -10vw 5vh;
  box-shadow: 2vmin 0 0.8353504302971836vmin currentColor;
}
.background span:nth-child(12) {
  color: #f2ebff;
  top: 78%;
  left: 80%;
  animation-duration: 34s;
  animation-delay: -15s;
  transform-origin: -18vw 1vh;
  box-shadow: 2vmin 0 0.4590527607211161vmin currentColor;
}
.background span:nth-child(13) {
  color: #567799;
  top: 44%;
  left: 23%;
  animation-duration: 32s;
  animation-delay: -4s;
  transform-origin: -15vw -14vh;
  box-shadow: -2vmin 0 0.3397833201401249vmin currentColor;
}
.background span:nth-child(14) {
  color: #f2ebff;
  top: 18%;
  left: 31%;
  animation-duration: 19s;
  animation-delay: -21s;
  transform-origin: 5vw 9vh;
  box-shadow: 2vmin 0 0.6138071283473752vmin currentColor;
}
.background span:nth-child(15) {
  color: #567799;
  top: 76%;
  left: 77%;
  animation-duration: 41s;
  animation-delay: -14s;
  transform-origin: 13vw -9vh;
  box-shadow: 2vmin 0 0.8561757899645852vmin currentColor;
}
.background span:nth-child(16) {
  color: #567799;
  top: 53%;
  left: 10%;
  animation-duration: 35s;
  animation-delay: -15s;
  transform-origin: -16vw 12vh;
  box-shadow: -2vmin 0 1.1311486303271137vmin currentColor;
}
.background span:nth-child(17) {
  color: #5a6272;
  top: 19%;
  left: 45%;
  animation-duration: 22s;
  animation-delay: -17s;
  transform-origin: 5vw 9vh;
  box-shadow: -2vmin 0 0.5933342439332546vmin currentColor;
}
.background span:nth-child(18) {
  color: #f2ebff;
  top: 98%;
  left: 98%;
  animation-duration: 10s;
  animation-delay: -4s;
  transform-origin: 11vw 16vh;
  box-shadow: 2vmin 0 0.7381745598293581vmin currentColor;
}
.background span:nth-child(19) {
  color: #f2ebff;
  top: 69%;
  left: 24%;
  animation-duration: 14s;
  animation-delay: -12s;
  transform-origin: -9vw -22vh;
  box-shadow: 2vmin 0 0.4705798001743514vmin currentColor;
}
.background span:nth-child(20) {
  color: #f2ebff;
  top: 67%;
  left: 12%;
  animation-duration: 8s;
  animation-delay: -40s;
  transform-origin: -21vw -9vh;
  box-shadow: -2vmin 0 0.6523466371477398vmin currentColor;
}
.background span:nth-child(21) {
  color: #5a6272;
  top: 52%;
  left: 22%;
  animation-duration: 32s;
  animation-delay: -39s;
  transform-origin: 20vw -9vh;
  box-shadow: -2vmin 0 0.9827621020498057vmin currentColor;
}
.background span:nth-child(22) {
  color: #5a6272;
  top: 68%;
  left: 68%;
  animation-duration: 12s;
  animation-delay: -25s;
  transform-origin: -10vw -15vh;
  box-shadow: -2vmin 0 1.1572575063844013vmin currentColor;
}
.background span:nth-child(23) {
  color: #f2ebff;
  top: 92%;
  left: 12%;
  animation-duration: 27s;
  animation-delay: -39s;
  transform-origin: -18vw -18vh;
  box-shadow: 2vmin 0 0.8143208714455061vmin currentColor;
}
.background span:nth-child(24) {
  color: #5a6272;
  top: 17%;
  left: 19%;
  animation-duration: 14s;
  animation-delay: -21s;
  transform-origin: 21vw -15vh;
  box-shadow: 2vmin 0 1.1448961778105846vmin currentColor;
}
.background span:nth-child(25) {
  color: #5a6272;
  top: 1%;
  left: 43%;
  animation-duration: 20s;
  animation-delay: -22s;
  transform-origin: 25vw -21vh;
  box-shadow: -2vmin 0 0.45687983678693966vmin currentColor;
}
.background span:nth-child(26) {
  color: #f2ebff;
  top: 100%;
  left: 59%;
  animation-duration: 12s;
  animation-delay: -15s;
  transform-origin: 20vw -8vh;
  box-shadow: -2vmin 0 0.36188789276218325vmin currentColor;
}
.background span:nth-child(27) {
  color: #5a6272;
  top: 37%;
  left: 88%;
  animation-duration: 45s;
  animation-delay: -5s;
  transform-origin: -7vw 24vh;
  box-shadow: 2vmin 0 0.2514408381819735vmin currentColor;
}
.background span:nth-child(28) {
  color: #f2ebff;
  top: 32%;
  left: 85%;
  animation-duration: 20s;
  animation-delay: -19s;
  transform-origin: 25vw -21vh;
  box-shadow: 2vmin 0 0.5125255212074196vmin currentColor;
}
.background span:nth-child(29) {
  color: #5a6272;
  top: 66%;
  left: 89%;
  animation-duration: 9s;
  animation-delay: -3s;
  transform-origin: 10vw -10vh;
  box-shadow: -2vmin 0 0.7771992077276038vmin currentColor;
}
.background span:nth-child(30) {
  color: #f2ebff;
  top: 76%;
  left: 71%;
  animation-duration: 41s;
  animation-delay: -28s;
  transform-origin: 17vw 12vh;
  box-shadow: 2vmin 0 0.291897159154767vmin currentColor;
}
.background span:nth-child(31) {
  color: #f2ebff;
  top: 38%;
  left: 66%;
  animation-duration: 35s;
  animation-delay: -20s;
  transform-origin: 19vw 23vh;
  box-shadow: 2vmin 0 0.36586382549381313vmin currentColor;
}
.background span:nth-child(32) {
  color: #5a6272;
  top: 40%;
  left: 25%;
  animation-duration: 30s;
  animation-delay: -28s;
  transform-origin: 13vw 0vh;
  box-shadow: -2vmin 0 0.4854958666290202vmin currentColor;
}
.background span:nth-child(33) {
  color: #567799;
  top: 36%;
  left: 49%;
  animation-duration: 11s;
  animation-delay: -9s;
  transform-origin: -5vw -5vh;
  box-shadow: -2vmin 0 0.4626345888140332vmin currentColor;
}
.background span:nth-child(34) {
  color: #567799;
  top: 47%;
  left: 82%;
  animation-duration: 15s;
  animation-delay: -22s;
  transform-origin: 21vw -3vh;
  box-shadow: 2vmin 0 0.31361645921804837vmin currentColor;
}
.background span:nth-child(35) {
  color: #567799;
  top: 84%;
  left: 66%;
  animation-duration: 43s;
  animation-delay: -16s;
  transform-origin: -20vw -10vh;
  box-shadow: 2vmin 0 0.676285050890595vmin currentColor;
}
.background span:nth-child(36) {
  color: #f2ebff;
  top: 60%;
  left: 4%;
  animation-duration: 38s;
  animation-delay: -18s;
  transform-origin: -20vw 10vh;
  box-shadow: 2vmin 0 1.190649430182893vmin currentColor;
}
.background span:nth-child(37) {
  color: #5a6272;
  top: 24%;
  left: 15%;
  animation-duration: 14s;
  animation-delay: -21s;
  transform-origin: 0vw 15vh;
  box-shadow: 2vmin 0 0.5437892361730162vmin currentColor;
}
.background span:nth-child(38) {
  color: #567799;
  top: 83%;
  left: 69%;
  animation-duration: 32s;
  animation-delay: -1s;
  transform-origin: 24vw -20vh;
  box-shadow: 2vmin 0 1.1958773267122798vmin currentColor;
}
.background span:nth-child(39) {
  color: #567799;
  top: 69%;
  left: 60%;
  animation-duration: 22s;
  animation-delay: -15s;
  transform-origin: 16vw -13vh;
  box-shadow: -2vmin 0 0.6017834780295568vmin currentColor;
}
.background span:nth-child(40) {
  color: #f2ebff;
  top: 72%;
  left: 55%;
  animation-duration: 31s;
  animation-delay: -31s;
  transform-origin: 0vw 6vh;
  box-shadow: 2vmin 0 0.517231539107876vmin currentColor;
}
.background span:nth-child(41) {
  color: #5a6272;
  top: 56%;
  left: 59%;
  animation-duration: 45s;
  animation-delay: -28s;
  transform-origin: -8vw 13vh;
  box-shadow: -2vmin 0 0.8232665092302822vmin currentColor;
}
.background span:nth-child(42) {
  color: #5a6272;
  top: 98%;
  left: 14%;
  animation-duration: 10s;
  animation-delay: -18s;
  transform-origin: -23vw -4vh;
  box-shadow: -2vmin 0 0.5031938759754195vmin currentColor;
}
.background span:nth-child(43) {
  color: #5a6272;
  top: 63%;
  left: 33%;
  animation-duration: 26s;
  animation-delay: -16s;
  transform-origin: -15vw 22vh;
  box-shadow: 2vmin 0 1.1611755092725624vmin currentColor;
}
.background span:nth-child(44) {
  color: #f2ebff;
  top: 6%;
  left: 16%;
  animation-duration: 12s;
  animation-delay: -22s;
  transform-origin: 0vw -3vh;
  box-shadow: -2vmin 0 0.6627288334159462vmin currentColor;
}
.background span:nth-child(45) {
  color: #5a6272;
  top: 48%;
  left: 10%;
  animation-duration: 10s;
  animation-delay: -12s;
  transform-origin: -24vw -21vh;
  box-shadow: 2vmin 0 0.9795637920653845vmin currentColor;
}
.background span:nth-child(46) {
  color: #567799;
  top: 97%;
  left: 84%;
  animation-duration: 7s;
  animation-delay: -24s;
  transform-origin: -1vw 20vh;
  box-shadow: -2vmin 0 0.9759016225636764vmin currentColor;
}
.background span:nth-child(47) {
  color: #567799;
  top: 78%;
  left: 98%;
  animation-duration: 42s;
  animation-delay: -36s;
  transform-origin: -13vw 13vh;
  box-shadow: -2vmin 0 1.1106989821011757vmin currentColor;
}
.background span:nth-child(48) {
  color: #5a6272;
  top: 58%;
  left: 60%;
  animation-duration: 45s;
  animation-delay: -28s;
  transform-origin: -19vw 19vh;
  box-shadow: 2vmin 0 0.8175108817490099vmin currentColor;
}
.background span:nth-child(49) {
  color: #f2ebff;
  top: 83%;
  left: 41%;
  animation-duration: 35s;
  animation-delay: -30s;
  transform-origin: 0vw 4vh;
  box-shadow: -2vmin 0 0.7771324432883869vmin currentColor;
}
